<div class="container">
  <div class="row">
    <div class="col">
      <ngx-charts-line-chart
        [view]="[1000, 300]"
        [scheme]="colorScheme"
        [results]="lineResults"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisLabel]="'Mes'"
        [yAxisLabel]="'Ganancia en MDP'"
        [showYAxisLabel]="true"
        [showXAxisLabel]="true"
        [legend]="'true'">
      </ngx-charts-line-chart>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ngx-charts-line-chart
        [view]="[1000, 300]"
        [scheme]="colorScheme"
        [results]="lineResults2"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisLabel]="'Mes'"
        [yAxisLabel]="'Licencias vendidas'"
        [showYAxisLabel]="true"
        [showXAxisLabel]="true"
        [legend]="'true'">
      </ngx-charts-line-chart>
    </div>
  </div>
</div>
