<div class="container">
  <div class="row">
    <div class="col">
      <a class="btn btn-primary btn-lg btn-block m-2" routerLink="/ventas">Ventas</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a class="btn btn-primary btn-lg btn-block m-2" routerLink="/distribuidores">Distribuidores</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a class="btn btn-primary btn-lg btn-block m-2" routerLink="/historial">Historial</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a class="btn btn-primary btn-lg btn-block m-2" routerLink="/recomendaciones">Recomendaciones</a>
    </div>
  </div>
</div>
