<div class="container">
  <div class="row">
    <div class="col">
      <ngx-charts-advanced-pie-chart
        [view]="[1000, 400]"
        [scheme]="colorScheme"
        [results]="multi"
        [label]="'Ganancias totales'"
        [valueFormatting]="formatCurrency">
      </ngx-charts-advanced-pie-chart>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ngx-charts-pie-grid
        [view]="[1000, 400]"
        [scheme]="colorScheme"
        [results]="gridResults"
        [label]="'Licencias vendidas'"
        [tooltipDisabled]="true">
      </ngx-charts-pie-grid>
    </div>
  </div>
</div>
